@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.page-header {
  background: #FFFFFF;
  color: #000000;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.navigation-user-item {

}

.button-want {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #756157;
}

.welcome {
  background-color: #ffffff;
  color: #000000;
  background-image: url("images/index-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  text-align: center;
}

.description {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
}

.description-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-item-blue {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-white {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.advantages-item-sky {
  background-color: rgba(131, 179, 211, 0.2);
  color: #333333;
}

.servises-list {
  text-align: center;
}

.servises-logo-image {

}

.servises-title {
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.servises-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.search {
  text-align: center;
}

.newsletter {
  text-align: center;
}

.newsletter-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #756157;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #82B3D3;
}

.page-footer {
  text-align: center;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

.catalog-hotels-filter{
background-color: #000000;
color: #ffffff;
background-image: url(images/index-background.jpg);
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;

}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24;
  font-weight: 700;
}

.catalog-text {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-type {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: right;
}

.rating-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
